@media (max-width:1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 50px;
        }
        &__skills {
            grid-template-columns: repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 385px);
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,270px);
        }
        &__progress {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around;
            row-gap: 13px;
        }
        .vertical, .horizonal {
            grid-row: unset;
            grid-column: unset;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 350px 585px;
        }
    }
}

@media (max-width:992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url('../img/main_bg.png') no-repeat 60%/cover;
        &__title {
            width: 420px;
            font-size: 40px;
        }
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
        &__photo {
            align-self: start;
        }
        &__skills {
            justify-content: center;
            grid-template-columns: repeat(1, 350px);
            grid-template-rows: repeat(2,minmax(85px,auto));
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            margin-top: 50px;
            grid-template-columns: 1fr;
        }
    }
    .skills, .portfolio, .certificate {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .certificate {
        &__slides {
            height: 100%;
        }
    }
    .contacts {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(auto-fit, 260px);
            column-gap: 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        background: url('../img/main_bg.png') no-repeat 58%/cover;
        &__title {
            font-size: 35px;
            line-height: 55px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            height: 100%;
            grid-row: unset;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        &__description {
            padding-top: 40px;
        }
    }
    .resume, .skills, .portfolio, .certificate {
        padding-top: 40px;
    }
    .certificate {
        #btn-previous, #btn-next {
            width: 40px;
        }
    }
}

@media (max-width:576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url('../img/main_bg.png') no-repeat 63%/cover;
        &__title {
            margin-top: 27px;
            width: 300px;
            font-size: 27px;
            line-height: 40px;
        }
        .hamburger {
            right: 20px;
        }
        &__btns {
            margin-top: 30px;
        }
        &__link {
            &:last-child {
                display: none;
            }
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            max-width: 360px;
        }
        .title {
            &_fz36 {
                font-size: 30px;
            }
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        .title {
            &_fz36 {
                font-size: 30px;
            }
        }
        .divider {
            margin: 15px auto 0 auto;
        }
        &__wrapper {
            margin: 40px 0 0 10px;
        }
    }
    .skills {
        .title {
            &_fz36 {
                font-size: 30px;
            }
        }
    }
    .certificate {
        #btn-previous, #btn-next {
            width: 30px;
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}