.resume {
    padding-top: 120px;
    &__wrapper {
        margin: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
        row-gap: 40px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 45px;
            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    top: -17px;
                    height: calc(100% + 17px);
                    width: 1px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            width: 45px;
            top: 53px;
            height: 1px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 30px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-description {
            font-size: 14px;
            font-weight: 500;
            margin-top: 12px;
            margin-bottom: 0;
            padding: 12px 0 0 43px;
        }
        &-icon {
            position: absolute;
            @include before_circle;
            top: 35px;
            left: 45px;
            img {
                position: absolute;
                top: 15px;
                left: 17px;
            }
        
        }
        &-location {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}